.body {
	max-width: 800px;
	text-align: center;
}
.heading {
	color: orange;
	text-transform: uppercase;
}
.first1, .second2, .third3 {
	padding: 20px;
}
.first1 {
	color: blue;
}
.second2 {
	color: red;
}
.third3 {
	color: orange;
}