.body {
	max-width: 800px;
	text-align: center;
}
.heading {
	color: orange;
	text-transform: uppercase;
}
.first, .second, .third {
	padding: 20px;
}
.first {
	color: green;
}
.second {
	color: red;
}
.third {
	color: blue;
}